*{
    box-sizing:border-box;
    outline:none;
    margin:0;
}
body{
    padding:0;
    margin:0;
    font-family:sans-serif;
    background-color:#777;
    height:100vh;
}
.game-container{
    position:relative;
    text-align:center;
    width:80vw;
    max-width:500px;
    height:80vh;
    max-height:800px;
    background-image: linear-gradient(45deg, hsl(240, 80%, 5%), hsla(240, 20%, 10%, .9));
    border:5px solid rgb(150, 17, 17);
    border-radius:15px;    
    margin:auto;
}


/* ======= VOLUME ======= */

.volume-container{
    position:absolute;
    top:50px;
    left:50px;
    /* border:1px solid black; */
    width:40px;
    height:40px;
    transition:all .2s;
}


#volume-icon {
    display:block;
    position:absolute;
    font-size:2em;
    color:hsla(240, 20%, 10%);
    cursor:pointer;
}

.volume-container:hover{
height:120px;
width:120px;
}

.volume-container:hover .volume-slider-container{
    left:15px;
    opacity:1;
    /* top:43px; */
    /* transition: all 0.5s; */
}



.volume-slider-container{
    position:relative;
    width:120px;
    border-radius:10px;
    top:33px;
    background-color:hsla(240, 20%, 10%, .9);
    opacity:0;
    transform:rotate(-90deg); 
    transition-property: left, top, opacity;
    transition-duration: 0.2s ;
    left:-20px;
    
}

#volume-slider{ 
    transform-origin:center;
    cursor:pointer;
    margin:0;
    padding:0;
    margin:20px;
    width:80px;
    height:12px;
    border-radius:6px;
    -ms-progress-appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-appearance: vertical;
    transition:opacity .2s;
    opacity: 1;
}

#volume-slider:hover{
    opacity:.9;
}

#volume-slider::-webkit-slider-thumb {
    appearance:none;
    width: 18px; 
    height: 18px; 
    background: hsl(0,70%, 40%);
    border-radius:50%;
    cursor: pointer; 
  }
  
#volume-slider::-moz-range-thumb {
    appearance:none;
    width: 18px; 
    height: 18px;
    background: #04AA6D; 
    cursor: pointer; 
  }

#regras{
    text-align:center;
    color:white;
    text-transform:uppercase;
    font-size:32px;
    margin:20px;
}

.timer_container{
    display:flex;
    justify-content: center;
    align-items:center;
    position:relative;
    top:40px;
    left:60px;
    
    width:calc(100% - 120px);
    height: 12em;
    background-image: linear-gradient(-45deg, #ccc, #ddd 90%) ;
    border:5px solid #777;
    border-radius:10px;
    box-shadow: inset 2px 2px 2px #333;
}

#timer{
    position:absolute;
    color:#222;
    font-size:72px;
    margin:0;
}

#play_btn{
    position:absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%);
    width:120px;
    height:120px;
    background-color:#efefef;
    border-radius:50%;
    border: 8px inset hsl(0,70%, 40%);
    transition: all 0.1s ease-out;
    font-size:28px;
    box-shadow: 5px 5px 5px #000;
}

#play_btn:active{
    border-style:outset;
    box-shadow: 2px 2px 1px;
    transform:translate(-50%) scale(95%);
}

#play_btn:hover{
    transform: translate(-50%) scale(99%);
}

#play_btn:hover:active{
    transform: translate(-50%) scale(95%);
}



.result-container{
    position:fixed;
    box-sizing:padding-box;

    font-size:24px;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:0px;

    top:50%;
    left:50%;
    
    background-color:#e7e7e7;    
    
    overflow:hidden;
    height:0;
    width:0;
    max-width:500px;
    
    border-radius:5px;
    border:0px solid hsl(0,70%, 40%);
    
    transform:translate(-50%, -50%); 
    transition-property: width, height, border;
    transition-duration: .1s;
    
}


.result-container.show{
    border-width:3px;
    width:90%;
    padding:15px;
    
    height:7em;
    
    box-shadow: 15px 15px 15px #000;
}


#result{
    text-align:center;
    margin:0;
}