/*  ------- INDEX ---------
1) Normal:

#1.1 #GERAL
#1.2 #VOLUME
#1.3 #TIMER
#1.4 #GAME
#1.5 #BOTÃO
#1.6 #POPUP
#1.7 #TEXTO
#1.8 #DIFFICULTY

2) @media < 480:

#2.1 #GERAL
#2.2 #GAME
#2.3 #BOTÃO
#2.4 #DIFFICULTY
#2.5 #TEXTO
#2.6 #TIMER
#2.7 #VOLUME
---------------------------*/




/* #1.1 ======== #GERAL ======== */
@font-face {
    font-family: digital-7;
    src: url('./font/digital-7.ttf');
}

:root{
    --margem: 11vw;
    --vermelho: hsl(0,70%, 40%);
    --dark-red:#8B0707;
    font-size:10px;
}

*{
    box-sizing:border-box;
    outline:none;
    margin:0;
}
body{
    color:#262323;
    padding:0 40px;
    margin:0;
    font-family: 'Spartan', sans-serif;
    background-color:#f1f1f1;
}

.container{
    margin:auto;
    display:flex;
    max-width:700px;
    justify-content:space-around;
    gap:min(90px, 10vw);
    min-width:fit-content;
    height:100vh;
    width: 60vw;
}


/* ======= #1.2 #VOLUME ======= */

.volume-container{
    position:absolute;
    top:50px;
    left:50px;
    width:40px;
    height:40px;
    transition:all .2s;
}


#volume-icon {
    display:block;
    position:absolute;
    font-size:3rem;
    color:hsla(240, 20%, 10%);
    cursor:pointer;
}


.volume-container:hover{
    height:120px;
}

.volume-container:hover .volume-slider-container{
    opacity:1;
    top:80px;
}

.volume-slider-container{
    position:absolute;
    display:flex;
    align-items:center;
    width:120px;
    border-radius:10px;
    padding:15px;
    left: -40px;

    bottom:unset;
    top:0;
    background-color:hsla(240, 20%, 10%, .9);
    opacity:0;
    transform:rotate(-90deg); 
    transition-property: left, top, opacity;
    transition-duration:.2s ;
}

#volume-slider{ 
    cursor:pointer;
    margin:0;
    padding:0;
    border: 1px solid black;
    width:80px;
    height:12px;
    border-radius:6px;
    -ms-progress-appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-appearance: vertical;
    transition:opacity .2s;
    opacity: 1;
}

#volume-slider:hover{
    opacity:.9;
}

#volume-slider::-webkit-slider-thumb {
    appearance:none;
    width: 18px; 
    height: 18px; 
    background: var(--dark-red);
    border-radius:50%;
    cursor: pointer; 
  }
  
#volume-slider::-moz-range-thumb {
    appearance:none;
    width: 18px; 
    height: 18px;
    background: var(--dark-red);
    cursor: pointer; 
  }


/* ====== #1.3 #TIMER ====== */  

.timer_container{
    display:flex;
    justify-content: center;
    align-items:center;
    position:absolute;
    top:40px;
    left:50%;
    transform: translateX(-50%);

    width:175px;  
    height: 125px;
    background-image: linear-gradient(135deg, #fff 10%, rgba(255, 255, 255, .5) 90%) ;

    border-radius:10px;
    box-shadow: inset 5px 5px 5px rgba(0,0,0,.25);
}

#timer{
    font-family:digital-7;
    position:absolute;
    font-size:72px;
    margin:0;
}

/* ======== #1.4 #GAME ======== */

.game-container{

    position:relative;
    bottom:0;
    
    width:341px;
    height:485px;
    max-height:485px;
    box-shadow: 5px 5px 5px rgb(66, 66, 66, .25), -5px -5px 5px rgb(255, 255, 255,.25);
    background-color: #dcdcdc;
    border-radius:15px; 
}

.game-dif-container{
    position:relative;
    top:76px;
}


/* ======== #1.5 #BOTÃO ======== */

#play_btn{
    --diametro: min((calc(100vw - calc(var(--margem) * 2) ) * 0.3), 100px, 15vh) ; /*30% do width, no maximo 100px ou 15vw */
    padding:0px;
    position:absolute;
    bottom: min(var(--diametro), 40px);
    left: 50%;
    transform: translate(-50%);

    width: var(--diametro);
    height: var(--diametro);

    background-color:#f7f7f7;
    border-radius:50%;
    box-sizing:content-box;
    border-width:calc(var(--diametro) * 0.08);
    border-style:solid;
    border-color: var(--vermelho);
    transition: all 0.1s ease-out;
    font-size:2.4rem;
    letter-spacing:0%;
    box-shadow: 5px 5px 5px #262323, -5px -5px 5px rgba(255, 255, 240, .25);
}

#play_btn:active{
    border-style:outset;
    box-shadow: 2px 2px 1px;
    transform:translate(-50%) scale(95%);
}

#play_btn:hover{
    transform: translate(-50%) scale(99%);
}

#play_btn:hover:active{
    transform: translate(-50%) scale(95%);
}

/* ======== #1.6 #POPUP ======== */

.result-container{
    position:fixed;
    box-sizing:padding-box;

    font-size:2.4rem;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:0px;

    top:50%;
    left:50%;
    
    background-color:#e7e7e7;    
    
    overflow:hidden;
    height:0;
    width:0;
    max-width:500px;
    
    border-radius:5px;
    border:1px solid var(--vermelho);
    
    transform:translate(-50%, -50%); 
    transition-property: width, height, border;
    transition-duration: .1s;
}


.result-container.show{
    border-width:3px;
    width:90%;
    padding:15px;
    height:7em;
    box-shadow: 15px 15px 15px #000;
}

#result{
    text-align:center;
    margin:0;
}

/* ========== #1.7 #TEXTO ========*/

.text-container{
    position:relative;
    display:block;
    width:260px;
    top:133px;
    height:fit-content;
    font-size:1rem;
}

.main-text, .sub-text1, .sub-text2{
  position:relative;
  display:block;
}

.main-text{
    font-size: 4em;
    margin-bottom:40px;
    line-height:.9;
}

.destaque{
    color: var(--vermelho);    
}

.main-text .destaque{
    margin-left:3em;
}

.sub-text2 .destaque{
    margin-left:4em;
    font-size:1.5em;
}

.sub-text1{
    margin-bottom:23px;
}

.sub-text2{
    line-height: 1;
}

.sub-text1, .sub-text2{
    font-size: 2.4em;
    color: #535353;
}


/* ======== #1.8 #DIFFICULTY ======= */

.difficulty-container{
    position:relative;
    margin-bottom:30px;
}

.difficulty-container p {
    display:inline;
    font-size:24px;
}

#difficulty-slider{ 
    cursor:pointer;
    display:inline-block;
    margin:0;
    padding:0;
    width:120px;
    height:12px;
    border: 1px solid black;
    border-radius:6px;
    -ms-progress-appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

#difficulty-slider:hover{
    opacity:.9;
}

#difficulty-slider::-webkit-slider-thumb {
    appearance:none;
    width: 18px; 
    height: 18px; 
    background: var(--dark-red);
    border-radius:50%;
    cursor: pointer; 
  }
  
#difficulty-slider::-moz-range-thumb {
    appearance:none;
    width: 18px; 
    height: 18px;
    background: var(--dark-red);
    cursor: pointer; 
  }






@media (max-width: 480px){

/* ======== #2.1 #GERAL ======== */
    body{
        padding:0;
        margin:0;
        font-size:1rem;
        --margem: 11vw;
    }

  .container{
        padding:var(--margem);
        display:flex;
        flex-direction:column;
        justify-content:flex-start;
        gap:3em;
        width:100vw;
        font-size: max(.6rem, 1.7vw);        
    }
    
/* ======== #2.2 #GAME ======== */    
    .game-dif-container{        
        top:0;
        padding:0;
        margin:0;
    }
    
    .game-container{
        flex:1;
        height:min(107vw, 60vh - var(--margem));
        width: calc(100vw - calc(var(--margem) * 2));
    }
    
    .game-container > * {
        visibility:visible;        
    }


/* ======== #2.3 #BOTÃO ======== */    
    #play_btn{
        font-size: 5vw;
    }

/* ======== #2.4 #DIFFICULTY ======== */
    .difficulty-container{
        margin-bottom:10px;
    }

    .difficulty-container p{
        font-size: 3em;
    }
    
/* ======== #2.5 #TEXTO ======== */    
    .text-container{
        position:relative;
        display:flex;
        flex-direction: column;
        width:min-content;
        top:0px;
        height:fit-content;
        gap:1em;
        font-size: max(.6rem, 1.7vw);
    }
    
    .sub-text-wrapper{
        display:flex;
        flex-direction: column;
        gap:.5em;        
    }

    .main-text{
        margin-bottom:0;
    }

    .main-text .destaque{
        margin-left:4em;
    }

    .sub-text1{
        margin:0;
    }

    .time{
      font-weight:bold;
    }


/* ======== #2.6 #TIMER ======== */

    .timer_container{
        display:flex;
        justify-content: center;
        align-items:center;
        position:absolute;
        top:40px;
        left:50%;
        transform: translateX(-50%);
        width:60%;  
        height: 75px;
        background-image: linear-gradient(135deg, #fff 10%, rgba(255, 255, 255, .5) 90%) ;
        border-radius:0px;
    }
    
    #timer{
        font-family:digital-7;
        position:absolute;
        font-size:5rem;
        margin:0;
    }


/* ======== #2.7 #VOLUME ======== */

    .volume-container{
        top:var(--margem);
        right:var(--margem);
        left:unset;        
    }
}  