*{
    box-sizing:border-box;
    outline:none;
    margin:0;
}
body{
    padding:0;
    margin:0;
    font-family:sans-serif;
    background-color:#777;
    height:100vh;
}
.game-container{
    position:relative;
    text-align:center;
    width:80vw;
    max-width:600px;
    height:80vh;
    max-height:800px;
    background-image: linear-gradient(45deg, hsl(240, 80%, 5%), hsla(240, 20%, 10%, .9));
    border:5px solid rgb(150, 17, 17);
    border-radius:15px;    
    margin:auto;
}

#regras{
    text-align:center;
    color:lightgreen;
    font-size:48px;
    margin:20px;

}

.timer_container{
    display:flex;
    justify-content: center;
    align-items:center;
    position:relative;
    top:20px;
    left:20px;
    
    width:calc(100% - 40px);
    height: 12em;
    background-image: linear-gradient(-45deg, #ccc, #ddd 90%) ;
    border:5px solid #777;
    border-radius:10px;
    box-shadow: inset 2px 2px 2px #333;
}

#timer{
    position:absolute;
    color:#222;    
    
    font-size:72px;
    margin:0;
}

#play_btn{
    position:absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%);
    width:120px;
    height:120px;
    background-color:#efefef;
    border-radius:50%;
    border: 8px inset hsl(0,70%, 40%);
    transition: all 0.1s ease-out;
    font-size:28px;
    box-shadow: 5px 5px 5px #000;
}

#play_btn:active{
    border-style:outset;
    box-shadow: 2px 2px 1px;
    transform:translate(-50%) scale(95%);
}

#play_btn:hover{
    transform: translate(-50%) scale(99%);
}

#play_btn:hover:active{
    transform: translate(-50%) scale(95%);
}



.result-container{
    position:fixed;
    box-sizing:padding-box;

    font-size:24px;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:0px;

    top:50%;
    left:50%;
    
    background-color:#e7e7e7;    
    
    overflow:hidden;
    height:0;
    width:0;
    max-width:500px;
    
    border-radius:5px;
    border:0px solid hsl(0,70%, 40%);
    
    transform:translate(-50%, -50%); 
    transition-property: width, height, border;
    transition-duration: .1s;
    
}


.result-container.show{
    border-width:3px;
    width:90%;
    padding:15px;
    
    height:7em;
    
    box-shadow: 15px 15px 15px #000;
}


#result{
    text-align:center;
    margin:0;
}